@import "tailwindcss";

/* Enable DaisyUI themes */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;

}


@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #CAEB66;
  --color-primary-content: black;
  --color-secondary: oklch(70% 0.22 200);
  --color-accent: oklch(75% 0.25 80);

  --color-base-100: oklch(99% 0.005 240);
  --color-base-200: oklch(97% 0.008 240);
  --color-base-300: oklch(94% 0.012 240);
  --color-base-content: oklch(22% 0.04 240);

  --color-success: oklch(70% 0.22 140);
  --color-warning: oklch(85% 0.25 80);
  --color-error: oklch(65% 0.3 30);
  --color-info: oklch(75% 0.18 220);

  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
}
a.active{
 background-color: #CAEB66;
}